[Desktop Entry]
Name=Install Apricity OS
GenericName=Live Installer
Comment=Install the operating system to disk
Exec=su -c "QT_QPA_PLATFORMTHEME=qt5ct QT_STYLE_OVERRIDE=gtk2 calamares -d 2>&1 | tee /tmp/calamares.log"
Icon=/usr/share/icons/calamares.png
Terminal=False
Type=Application
Categories=System;
